@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://cssgenerator.org/box-shadow-css-generator.html */
/* Horizontal Shadow Length: 1px
Vertical Shadow Length: 1px
Blur Radius: 13px
Spread Radius: 1px
Shadow Color: rgb(0,0,0)
Shadow Color Opacity: 0.65
Inset: Off */
.myshadow {
	box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.65);
}
.hover\:myshadow:hover {
	box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.65);
}

/* 
hovered should be bg-red-300
checking https://tailwindcss.com/docs/text-color, the rgb color is: rgb(252 165 165)
using convertingcolors.com to do the conversion to hex gives: #FCA5A5
inputting this hex value into https://codepen.io/sosuke/pen/Pjoqqp gives a filter that can be used 
*/
.social-media:hover {
	filter: invert(99%) sepia(62%) saturate(6372%) hue-rotate(290deg) brightness(93%) contrast(113%);
}

/* https://stackoverflow.com/a/44647131/4224964 */
.line-around {
	display: flex;
	flex-direction: row;
}
.line-around:before,
.line-around:after {
	content: '';
	flex: 1 1;
	border-bottom: 1px solid;
	margin: auto;
}
.line-around:before {
	margin-right: 10px;
}
.line-around:after {
	margin-left: 10px;
}
